[**minions-core v0.1.0**](../README.md)

***

[minions-core](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types/index.ts:246](https://github.com/mxn2020/minions/blob/52978fbc1436796e6df75d6f5ad5823d4d3faa8f/packages/core/src/types/index.ts#L246)

Result of validating a minion against its type schema.

## Properties

### valid

> **valid**: `boolean`

Defined in: [types/index.ts:247](https://github.com/mxn2020/minions/blob/52978fbc1436796e6df75d6f5ad5823d4d3faa8f/packages/core/src/types/index.ts#L247)

***

### errors

> **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: [types/index.ts:248](https://github.com/mxn2020/minions/blob/52978fbc1436796e6df75d6f5ad5823d4d3faa8f/packages/core/src/types/index.ts#L248)
