[**@minions/core v0.1.0**](../README.md)

***

[@minions/core](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types/index.ts:247](https://github.com/mxn2020/minions/blob/4da812d85216654326d9a2df90976be93221a56a/packages/core/src/types/index.ts#L247)

Result of validating a minion against its type schema.

## Properties

### valid

> **valid**: `boolean`

Defined in: [types/index.ts:248](https://github.com/mxn2020/minions/blob/4da812d85216654326d9a2df90976be93221a56a/packages/core/src/types/index.ts#L248)

***

### errors

> **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: [types/index.ts:249](https://github.com/mxn2020/minions/blob/4da812d85216654326d9a2df90976be93221a56a/packages/core/src/types/index.ts#L249)
