plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/mehdinabhani/Projects/antigravity/minions/apps/docs/apps/docs/dist"
publishOrigin = "ui"
commandOrigin = "config"
base = "/Users/mehdinabhani/Projects/antigravity/minions/apps/docs"
command = "pnpm run build"

[build.environment]
NODE_VERSION = "20"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]